*{
	padding: 0;
	margin: 0;
}
header{
	width: 100%;	
}
body{
	font-family: 'Karla', sans-serif;
	background-color: #DAE1E7;
}
/*------------------------------------------HEADER GENERAL--------------------------------------*/
.header{
    width: 100%;
    margin: auto;
    background-color: #183661;
}
.header_contenedor{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_contenedor_logo{
    width: 15em;
    height: 5em;
    margin: 0.5em;
	padding: 10px;
}
.header_contenedor_logo img{
	display: block;
	width: 100%;
	max-width: 100%;
}
.header_contenedor_buscar{
	height: 5em;
	padding: 10px;
}
.header_contenedor_buscar input{
	height: 1.5em;
	width: 28em;
	margin: 2em 1.5em;
	padding: 1em 2em;
	border-radius: 1em 1em 1em 1em;
	background-color: #DAE1E7;
}
.header_contenedor_carrito {
	width: 15em;
    height: 5em;
    margin: 0.5em;
	padding: 10px;
}
.header_contenedor_carrito img{
	display: block;
	width: 27%;
	max-width: 100%;
}

.header_contenedor_carrito_contador{
	position: relative;
	width: 1.5em;
	border-radius: 50% 50% 50% 50%;
	background-color: #DAE1E7;
	bottom: -1.3em;
	left: 3em;
    color:#183661;
	font-weight: bold;
	text-transform: uppercase;
	text-align:center;
}
.header_menu{
    display: flex;
    justify-content: space-around;
    position: relative;
}
.header_menu ul{
	text-align: center;
}
.header_menu li{
	display: inline-block;
	list-style: none;
	padding:0.5em 1em;
}
.header_menu a{
	text-decoration: none;
	color: #fff;
	padding: 0.5em ;
	font-size: 20px;
}
.header_menu a:hover{
	background-color: #DD6B4D;
	color: #000;
	padding: 0.5em 1em;
}

/*--------------------------------------------------FOOTER GENERAL----------------------------------*/
.footer{
	display: flex;
    align-items: center;
	justify-content: space-between;
	background-color: #183661;
	height: auto;
}
.footer_integrantes{
	margin: 0em 2em;
	color: #DD6B4D;
}
.footer_integrantes p{
	margin: 1.5em;
}
.footer_menuInferior{
	margin: 0em 2em;
}
.footer_menuInferior ul{
	list-style: none;
}
.footer_menuInferior li{
    margin: 0.5em;
}
.footer_menuInferior a{
	text-decoration: none;
	color: #DAE1E7;
}
.footer_menuInferior a:hover{
	color: #DD6B4D;
}
.footer_redes {
	margin: 2em 2em;
}
.footer_redes__link{
	color: #DD6B4D;
	text-decoration: none;
	margin: 1em;
}

/*------------------------------------------------------INDEX.HTML MAIN---------------------------------------*/

.main_slider{
	display: flex;	
}
.main_slider img{
	width: 50%;
}

.main_pasos{
	display: flex;
    text-align: center;
	justify-content: space-between;
}
.main_pasos_texto{
	border: 3px solid #DD6B4D;
    box-sizing: border-box;
    width: 100%;
    margin: 2em 2em;
	padding: 2em 3em;
	
}
.main_pasos_texto h3{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
	text-transform: uppercase;
}
.main_subrrayado_tituloH2 {
    margin: auto;
    padding: 1em;
	border-bottom: 1px solid #9f9fa0;
	width: 70%;
}

.main_subrrayado_tituloH2 h2{
    width: 100%;
	text-align: center;
}
.main_lista{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    text-align: center;
	height: auto;
}
.main_lista_curso{
	height: auto;
	width: 20%;
	margin: 1em 5em ;
	cursor: pointer;
	border: 0.5px solid #DD6B4D;
	box-shadow: 0 1em 2em rgba(0,0,0,0);
}
.main_lista_curso:hover{
	 box-shadow: 0 5em 15em rgba(221,107,0.5);
}
.main_lista_curso_img_ajuste{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.main_lista_curso_texto{
    color: #183661;
	margin: 0.5em 0em;
	padding: 0.5em 0em; 
}
.main_lista_curso_texto h3{
	color: #183661;
	text-transform: uppercase;
	margin: 0.5em 0em;
	padding: 0.5em 0em;
}
.main_lista_curso_texto a input{
	font-size: 1em;
    font-weight: bold;
   /* height: 1.5em;*/
   padding: 0.5em;
    width: auto;
    color:#DAE1E7;
    background:#DD6B4D;
}

.main_tarjetas{
	display: flex;
    justify-content: center;
}

/*----------------------------------------------------CONTACTO.HTML MAIN------------------------------------------*/

.main_contenido{
	display: flex;
	justify-content: space-around;
}
.main_contenido_consulta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em;
}

.main_contenido_consulta h3{
    border: 3px solid #183661;
    background: rgba(28,75,130,.50);
	font-size: 1.3em;
	text-transform: uppercase;
    padding: 1em 1em;
}
.main_contenido_consulta form{
	display: flex;
	flex-direction: column;
	width: 20em;
	height: 30em;
}
.main_contenido_consulta label{
	font-size: 1em;
	text-align: center;
	margin: 0.5em;
	font-weight: bold;
}
.main_contenido_consulta input, textarea{
	margin: 0.5em 0em;
	padding:1em;
	width: 100%;
	box-sizing: border-box;
	border: 1px hidden #DD6B4D;
	border-radius: 5px 5px;
}
.main_contenido_consulta textarea{
	resize: vertical;
	max-height: 20em;
	min-height: 5em;
}
.main_contenido_consulta button{
	margin: 1.5em 1em 1em 1em;
	padding:1em;
	background: #1C4B82;
	border: none;
	color: white;
	border-radius: 5px 5px;
	cursor: pointer;
}
.main_contenido_info{
	display: flex;
	flex-direction: column;
    margin: 1em 0em;
	width: 20em;
	height: 40em;
}
.main_contenido_contacto{
    border: 3px solid #183661;
    background: rgba(28,75,130,.50);
}
.main_contenido_contacto h3{
    text-align: center;
	padding: 0.5em;
	margin: 0.5em;
    font-size: 1.3em;
	text-transform: uppercase;
}
.main_contenido_contacto p{
    font-size: 1.1em;
	text-align: center;
	padding: 0.5em;
	margin: 0.5em;
}
.main_contenido_mapa{
	width: 20em;
	height: 20em;
    margin: auto;
}
.main_contenido_mapa iframe{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border:1px solid;
}
/*----------------------------INSCRIPCION.HTML MAIN------------------------*/
/*.main_subrrayado_tituloH2 {
	margin-top: 2em;
	border-bottom: 1px solid #9f9fa0;
	width: 70%;
	margin-left: 17%;
	margin-bottom: 2em;
}

.main_subrrayado_tituloH2 h2{
    width: 100%;
	text-align: center;
}*/
/*CODIGO REUTILIZADO*/
.main_planilla{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0em;
}
.main_planilla h3{
    border: 3px solid #183661;
    background: rgba(28,75,130,.50);
	font-size: 1.3em;
    padding: 1em;
}
.main_planilla_form{
    margin: 1em;
}
.main_planilla_form label{
    font-size: 1em;
	text-align: center;
	margin: 0.5em;
	font-weight: bold;
}
.main_planilla_form input{
    margin: 0.5em 0em;
	padding:0.3em;
	width: auto;
	box-sizing: border-box;
	border: 1px hidden #DD6B4D;
	border-radius: 5px 5px;
}
.main_planilla_form button{
    margin: 2em;
	padding: 1em;
	background: #1C4B82;
	border: none;
	color: white;
	border-radius: 5px 5px;
	cursor: pointer;
}